<!DOCTYPE html>
<html>
<head>
	<title>Search GitHub</title>
    <style>
        .form-align {
          max-width: 700px;
          padding: 15px;
          margin: 0 auto;
        }    
    </style>


</head>
<body>

	<div class="container text-center">
          <form class="form-align" id="login_form" method="get" action="/search/">
            {% csrf_token %}
            <br>
              Enter Repo :
            <input type="text" name="search_term"   value="" required autofocus>
            <button  type="submit">Search</button>
          </form>
    </div>

  <h1>{{ search_term }}</h1>
    {% for item in items %}
        <h2>{{ item.order }}. {{ item.name }}</h2>
        <h3> Created {{ item.created }}</h3>
        <a href="{{ item.owner.url }}"><img src="{{ item.owner.avatar_url }}" alt="avatar" height="42" width="42"/></a>
        {{ item.owner.login }}
        <h3>LastCommit</h3>
        {{ item.last_commit.sha }} {{ item.last_commit.commit.message }}  {{ item.last_commit.commit.author.name }}
        <hr/>
    {% endfor %}
</body>
</html>